<div style="
    width: 500px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 15px;
    padding: 20px;
    justify-content: center;
    margin-top: 20px">

    <img style="width: 200px; margin-left: 9rem;" src="cid:img"/>

    <h1 style="
        text-align: center;
        background: -webkit-linear-gradient(180deg, #FF0C0C 0%, #FF742C 64.63%);
        color: transparent;
        background-clip: text;
        font-size: 42px;">Reçu facture</h1>

    <p style="font-size: 18px; text-align: center">Bonjour {{ clientName }}, vous trouverez en pièce jointe votre facture concernant la commande du produit <b>{{ documentName }}</b> de l'auto école <b>{{ drivingSchoolName }}</b>.</p>

</div>