{% extends 'base.html.twig' %}

{% block title %}New Invoice{% endblock %}

{% block body %}
     {{ include('composants/header.html.twig') }}

    <section class='ml-64 mt-32'>
        {% include 'composants/_adminSideBar.html.twig' with {'current_page': 'invoice'} %}

        {% 
            include('composants/_customForm.html.twig') 
            with {
                'form': form,
                'createAction': 'Créer',
                'backAction': 'app_invoice_index'
            } 
        %}
    </section>
{% endblock %}
