{% extends 'base.html.twig' %}

{% block title %}New Invoice{% endblock %}

{% block body %}
     {{ include('composants/header.html.twig') }}

    <section class='ml-64 mt-32'>
        {{ include('composants/_adminSideBar.html.twig') }}

        {{ include('invoice/_form.html.twig') }}

        <a href="{{ path('app_invoice_index') }}">back to list</a>
    </section>
{% endblock %}
