{% extends 'base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}
    <section>
        {{ include('composants/header.html.twig') }}
        <section class="ml-64 mt-32">
            {% include 'composants/_adminSideBar.html.twig' with {'current_page': 'client'} %}

            {% include 'composants/_showElements.html.twig' with {
                'sections': [
                    [
                        "Contrat",
                        invoice
                    ],
                ],
                'elementsToDisplay': [
                    [
                        ['Numéro de facture', 'id'],
                        ['Nom', 'name'],
                        ['Description', 'description'],
                        ['Prix', 'price'],
                        ['Type de paiement', 'typePayment'],
                    ],
                ]
            } %}
        </section>
    </section>
{% endblock %}
