{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <!--Nav-->
    {% embed 'composants/_nav.html.twig' %}
    {% endembed %}
    <div class="h-466 bg-gradient-to-r from-slate-900 via-purple-900 to-slate-900 dark:darkModeGradient">
        <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center py-16">
            <!--Left Col-->
            <div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left">
                <h1 class="mt-14 text-black dark:text-gray-200 mb-4 text-5xl font-bold leading-tight">
                    Gere ton auto-école automatiquement
                </h1>
                <p class="leading-normal text-black dark:text-gray-200 text-2xl mb-8">
                    Ajoute de nouveaux client et gere tes contrats et facture comme bon te semble !
                </p>
                <button class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                    S'abonner
                </button>
            </div>
            <!--Right Col-->
            <div class="w-full md:w-3/5 py-16 pl-48 text-center">
                <img class="w-3/6 z-50" src="images/driving-school.png"/>
            </div>
        </div>
    </div>
    </div>

    <section class="bg-white dark:bg-gray-900 border-b py-8">
        <div class="container max-w-5xl mx-auto m-8">
            <h2 class="w-full my-2 text-5xl font-bold leading-tight text-center text-black dark:text-gray-200">
                Nos Services
            </h2>
            <div class="w-full mb-4">
                <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
            </div>
            <div class="flex flex-wrap">
                <div class="w-5/6 sm:w-1/2 p-6">
                    <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3 text-black dark:text-gray-200">
                        Lorem ipsum dolor sit amet
                    </h3>
                    <p class="text-gray-600 mb-8 text-black dark:text-gray-200">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.
                    </p>
                </div>
                <div class="w-full sm:w-1/2 p-6">
                    <img class="w-4/6 h-1/2 sm:h-64 mx-auto" src="images/driver.png" alt="">
                </div>
            </div>
            <div class="flex flex-wrap">
                <div class="w-full sm:w-1/2 p-6">
                    <img class="w-4/6 h-1/2 sm:h-64 mx-auto" src="images/driving-test.png" alt="">
                </div>
                <div class="w-5/6 sm:w-1/2 p-6">
                    <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3 text-black dark:text-gray-200">
                        Lorem ipsum dolor sit amet
                    </h3>
                    <p class="text-gray-600 mb-8 text-black dark:text-gray-200">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.
                    </p>
                </div>
            </div>
    </section>
    <section class="bg-white dark:bg-gray-900 py-6">
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
            <div class="max-w-screen-md mb-8 lg:mb-16">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Nos produits, ce que nous vous offrons</h2>
                <p class="text-gray-500 sm:text-xl dark:text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula</p>
            </div>
            <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
                <div>
                    {% embed 'composants/_iconAndText.html.twig' with {nameIcons: 'request_quote', titre: 'Facture', description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula'} %}
                    {% endembed %}
                </div>
                <div>
                    {% embed 'composants/_iconAndText.html.twig' with {nameIcons: 'contract', titre: 'Contrat', description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula'} %}
                    {% endembed %}
                </div>
                <div>
                    {% embed 'composants/_iconAndText.html.twig' with {nameIcons: 'group', titre: 'Client', description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula'} %}
                    {% endembed %}
                </div>
                <div>
                    {% embed 'composants/_iconAndText.html.twig' with {nameIcons: 'monetization_on', titre: 'Finance', description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula'} %}
                    {% endembed %}
                </div>
                <div>
                    {% embed 'composants/_iconAndText.html.twig' with {nameIcons: 'bolt', titre: 'Rapidité', description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula'} %}
                    {% endembed %}
                </div>
                <div>
                    {% embed 'composants/_iconAndText.html.twig' with {nameIcons: 'payments', titre: 'Opération', description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula'} %}
                    {% endembed %}
                </div>
            </div>
        </div>
    </section>
    <section class="bg-gray-100 dark:bg-gray-950 py-8">
        <div class="container  mx-auto px-2 pt-4 pb-12 text-gray-800">
            <h2 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800 dark:text-white">
                Abonnement
            </h2>
            <div class="w-full mb-4">
                <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
            </div>
            <div class="flex flex-col sm:flex-row justify-center pt-12 my-12 sm:my-4">
                <div class="flex flex-col w-5/6 lg:w-1/4 mx-auto lg:mx-0 rounded-none lg:rounded-l-lg bg-white mt-4">
                    <div class="flex-1 bg-white dark:bg-gray-900 text-gray-600 dark:text-white rounded-t rounded-b-none overflow-hidden shadow">
                        <div class="p-8 text-3xl font-bold text-center border-b-4">
                            Gratuit
                        </div>
                        <ul class="w-full text-center text-sm">
                            <li class="border-b py-4">Lorem ipsum</li>
                            <li class="border-b py-4">Lorem ipsum</li>
                            <li class="border-b py-4">Lorem ipsum</li>
                        </ul>
                    </div>
                    <div class="flex-none mt-auto bg-white dark:bg-gray-900 rounded-b rounded-t-none overflow-hidden shadow p-6">
                        <div class="w-full pt-6 text-3xl text-gray-600 dark:text-white font-bold text-center">
                            jsp€
                            <span class="text-base"> / par mois</span>
                        </div>
                        <div class="flex items-center justify-center">
                            <button class="mx-auto lg:mx-0 hover:underline bg-gradient-to-r from-slate-900 via-purple-900 to-slate-900 text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                                S'abonner
                            </button>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col w-5/6 lg:w-1/3 mx-auto lg:mx-0 dark:text-white rounded-lg bg-white mt-4 sm:-mt-6 shadow-lg z-10">
                    <div class="flex-1 bg-white dark:bg-gray-900 rounded-t rounded-b-none overflow-hidden shadow">
                        <div class="w-full p-8 text-3xl font-bold text-center">Basique</div>
                        <div class="h-1 w-full gradient my-0 py-0 rounded-t"></div>
                        <ul class="w-full text-center text-base font-bold">
                            <li class="border-b py-4">Lorem ipsum</li>
                            <li class="border-b py-4">Lorem ipsum</li>
                            <li class="border-b py-4">Lorem ipsum</li>
                            <li class="border-b py-4">Lorem ipsum</li>
                        </ul>
                    </div>
                    <div class="flex-none mt-auto bg-white dark:text-white dark:bg-gray-900 rounded-b rounded-t-none overflow-hidden shadow p-6">
                        <div class="w-full pt-6 text-4xl font-bold text-center">
                            900€
                            <span class="text-base"> / par mois</span>
                        </div>
                        <div class="flex items-center justify-center">
                            <button class="mx-auto lg:mx-0 hover:underline bg-gradient-to-r from-slate-900 via-purple-900 to-slate-900 text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                                S'abonner
                            </button>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col w-5/6 lg:w-1/4 mx-auto lg:mx-0 rounded-none lg:rounded-l-lg bg-white mt-4">
                    <div class="flex-1 bg-white dark:bg-gray-900 text-gray-600 dark:text-white rounded-t rounded-b-none overflow-hidden shadow ">
                        <div class="p-8 text-3xl font-bold text-center border-b-4">
                            Professionnel
                        </div>
                        <ul class="w-full text-center text-sm">
                            <li class="border-b py-4">Lorem ipsum</li>
                            <li class="border-b py-4">Lorem ipsum</li>
                            <li class="border-b py-4">Lorem ipsum</li>
                        </ul>
                    </div>
                    <div class="flex-none mt-auto dark:bg-gray-900 bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
                        <div class="w-full pt-6 text-3xl text-gray-600 dark:text-white font-bold text-center">
                            1200€
                            <span class="text-base"> / par mois</span>
                        </div>
                        <div class="flex items-center justify-center">
                            <button class="mx-auto lg:mx-0 hover:underline bg-gradient-to-r from-slate-900 via-purple-900 to-slate-900 text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                                S'abonner
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Footer-->
    <footer class="bg-white dark:bg-gray-900">
        <div class="container mx-auto px-8">
            <div class="w-full flex flex-col md:flex-row py-6">
                <div class="flex-1 mb-6 text-black dark:text-white">
                    <span class="material-symbols-outlined w-6 h-6 text-primary-600 lg:w-10 lg:h-10 dark:text-violet-900">directions_car</span>
                    <a class="text-orange-600 dark:text-violet-900 no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="#">
                        A-E Tech
                    </a>
                </div>
                <div class="flex-1">
                    <p class="uppercase text-gray-500 dark:text-white md:mb-6">Liens</p>
                    <ul class="list-reset mb-6">
                        <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                            <a href="#" class="no-underline hover:underline text-gray-800 dark:text-gray-400 hover:text-purple-500">FAQ</a>
                        </li>
                        <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                            <a href="#" class="no-underline hover:underline text-gray-800 dark:text-gray-400 hover:text-purple-500">Aide</a>
                        </li>
                        <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                            <a href="#" class="no-underline hover:underline text-gray-800 dark:text-gray-400 hover:text-purple-500">Support</a>
                        </li>
                    </ul>
                </div>
                <div class="flex-1">
                    <p class="uppercase text-gray-500 dark:text-white md:mb-6">Légal</p>
                    <ul class="list-reset mb-6">
                        <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                            <a href="#" class="no-underline hover:underline text-gray-800 dark:text-gray-400 hover:text-purple-500">Condition générale</a>
                        </li>
                        <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                            <a href="#" class="no-underline hover:underline text-gray-800 dark:text-gray-400 hover:text-purple-500">Privacy</a>
                        </li>
                    </ul>
                </div>
                <div class="flex-1">
                    <p class="uppercase text-gray-500 dark:text-white md:mb-6">Social</p>
                    <ul class="list-reset mb-6">
                        <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                            <a href="#" class="no-underline hover:underline text-gray-800 dark:text-gray-400 hover:text-purple-500">Instagram</a>
                        </li>
                        <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                            <a href="#" class="no-underline hover:underline text-gray-800 dark:text-gray-400 hover:text-purple-500">Linkedin</a>
                        </li>
                        <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                            <a href="#" class="no-underline hover:underline text-gray-800 dark:text-gray-400 hover:text-purple-500">Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="flex-1">
                    <p class="uppercase text-gray-500 dark:text-white md:mb-6">Notre entreprise</p>
                    <ul class="list-reset mb-6">
                        <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                            <a href="#" class="no-underline hover:underline dark:text-gray-400 text-gray-800 hover:text-purple-500">A notre sujet</a>
                        </li>
                        <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                            <a href="#" class="no-underline hover:underline dark:text-gray-400 text-gray-800 hover:text-purple-500">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
