{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    {{ include('composants/header.html.twig') }}

    <section class='ml-64 mt-32'>
        {% include 'composants/_adminSideBar.html.twig' with {'current_page': 'product'} %}

        {{ include('product/_form.html.twig') }}

        <a href="{{ path('app_product_index') }}">back to list</a>
    </section>
{% endblock %}
