{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}

    <section>
        {{ include('composants/header.html.twig') }}
        <section class="ml-64 mt-32">
            {% include 'composants/_adminSideBar.html.twig' with {'current_page': 'client'} %}
            <div class='m-8'>
                <h1 class="text-6xl text-five dark:text-third pb-8 font-light">Visualisation produit</h1>
            </div>
            {% include 'composants/_showElements.html.twig' with {
                'sections': [
                    [
                        "Produit",
                        product
                    ],
                ],
                'elementsToDisplay': [
                    [
                        ['Nom produit', 'productName'],
                        ['Description', 'productDescription'],
                        ['Prix', 'productPrice'],
                        ['Heure', 'productHour'],
                    ],
                ]
            }
            %}
        </section>
    </section>
{% endblock %}
