{% extends 'base.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}

    {{ include('composants/_adminSideBar.html.twig') }}

    <section class="ml-64">
        <h1>Create new Client</h1>

        {{ include('client/_form.html.twig') }}

        <a href="{{ path('app_client_index', { 'idS': drivingSchool}) }}">back to list</a>
    </section>
{% endblock %}
