{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}

    <section>
        {{ include('composants/header.html.twig') }}
		<section class="ml-64 mt-32">
			 {% include 'composants/_adminSideBar.html.twig' with {'current_page': 'client'} %}

             {% include 'composants/_showElements.html.twig' with {
                    'sections': [
                        [
                            "User information",
                            client
                        ],
                        [
                            "User's contract",
                            contracts
                        ],
                        [
                            "User's invoice",
                            invoices
                        ]
                    ],
                    'elementsToDisplay': [
                        [
                            ['Prénom', 'firstname'],
                            ['Nom', 'lastname'],
                            ['Mail', 'email'],
                            ['Téléphone', 'phoneNumber'],
                            ['Numéro de voie', 'number'],
                            ['Adresse', 'address'],
                            ['Ville', 'city'],
                            ['Code Postal', 'zipCode'],
                        ],
                        [
                            ['Numéro de facture', 'id'],
                            ['Nom', 'name'],
                            ['Description', 'description'],
                            ['Prix', 'price'],
                        ],
                        [
                            ['Numéro de facture', 'id'],   
                            ['Nom', 'name'],
                            ['Description', 'description'],
                            ['Prix', 'price'],
                            ['Type de paiement', 'typePayment'],
                        ]
                    ]
                }
            %}

        </section>
    </section>
{% endblock %}
