{% extends 'base.html.twig' %}

{% block title %}New Contract{% endblock %}

{% block body %}
    <h1>Create new Contract</h1>

    {{ include('composants/_adminSideBar.html.twig') }}

    {{ include('contract/_form.html.twig') }}

    <a class="ml-64" href="{{ path('app_contract_index') }}">back to list</a>
{% endblock %}
