{% extends 'base.html.twig' %}

{% block title %}New Contract{% endblock %}

{% block body %}

    {{ include('composants/header.html.twig') }}

    <section class='dark:bg-dark-mode-secondary ml-64 mt-32 dark:text-primary'>
        {% include 'composants/_adminSideBar.html.twig' with {'current_page': 'client'} %}

        {%
            include('composants/_customForm.html.twig')
            with {
            'form': form,
            'createAction': 'Créer',
            'backAction': 'app_contract_index'
        }
        %}
    </section>
{% endblock %}
