{% extends 'base.html.twig' %}

{% block title %}Contrat{% endblock %}

{% block body %}
    <section>
        {{ include('composants/header.html.twig') }}
        <section class="ml-64 mt-32">
            {% include 'composants/_adminSideBar.html.twig' with {'current_page': 'client'} %}
            <div class='m-8'>
                <h1 class="text-6xl text-five dark:text-third pb-8 font-light">Visualisation contrat</h1>
            </div>
            {% include 'composants/_showElements.html.twig' with {
                'sections': [
                    [
                        "Contrat",
                        contract
                    ],
                ],
                'elementsToDisplay': [
                    [
                        ['Numéro de contrat', 'id'],
                        ['Nom', 'name'],
                        ['Description', 'description'],
                        ['Prix', 'price'],
                    ],
                ]
            }
            %}

        </section>
    </section>
{% endblock %}
