{% if form %}
    {{ form_start(form) }}

    <div class='flex items-center bg-red-primary dark:bg-dark-dark-purple rounded'>
        <div class='bg-transparent text-white placeholder-white border-transparent focus:border-transparent focus:ring-0'>
            {{ form_widget(form.q, {'attr': {'class': 'form-control relative flex-auto min-w-0 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none', 'placeholder': placeholder}}) }}
            {{ form_errors(form.q) }}
        </div>
        <button>
            <span class="material-symbols-outlined flex items-center justify-center w-5 h-5 text-white mr-2 p-5">search</span>
        </button>
    </div>
    {{ form_end(form) }}
{% endif %}

