<header
    class='flex fixed w-full top-0 bg-secondary dark:bg-dark-mode-secondary justify-start items-center h-24 border-b-2 border-four dark:border-dark-mode-third px-12'
>
    <div>
        <img class='w-8 h-8 mr-2' src="{{ asset('assets/icons/logo.png') }}" alt="" />
    </div>
    <p class='bg-gradient-to-r from-[#EA3E2B] to-[#FF742C] dark:bg-dark-light-purple text-transparent bg-clip-text text-4xl font-semibold'>
        AE.Tech   
    </p>
</header>